/* Specificity order: global, type, class, overrides, and then helpers. */
.hide {
	display: none;
}
.toggleFade {
	opacity: 0;
}
a {
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	-webkit-touch-callout: none; /* iOS */
	-webkit-user-select: none; /* Chrome all / Safari all */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: -moz-none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ / Opera */
	user-select: none;
	border: none;
	border-style: none;
}
a, a:visited, a:focus {
	color: inherit;
	text-decoration: none;
	text-shadow: none;
}
a:hover, a:active {
	color: #30a4fb;
	text-decoration: none;
	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;
}
strong {
	font-weight: 400;
}
a.new_glow:hover, a.new_glow:active {
	text-shadow: 0 0 2px #c4dcff, 0 0 2px #c4dcff, 0 0 2px #c4dcff, 0 0 2px #c4dcff, 0 0 2px #c4dcff;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;
}
iframe {
	border: 0;
}
html, body {
	height: 100%;
}
html {
	height: 100%;
	background-color: #000;
	opacity: 0;
	color: #ccc;
	line-height: 26px;
	font-size: 12pt;
	font-weight: 300;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	-webkit-touch-callout: none; /* iOS */
	-webkit-user-select: none; /* Chrome all / Safari all */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: -moz-none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ / Opera */
	user-select: none;
}
.loading_animation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: #000;
    margin: 0;
}
.loading_animation .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.loading_animation img {
	vertical-align: middle;
	max-height: 31px;
	max-width: 31px;
}
.wrapper {
	height: 100%;
	max-width: 960px;
	min-width: 640px;
	margin: auto;
	cursor: default;
}
.header_wrapper {
	height: 27px;
	margin-top: 25px;
}
nav {
	float: right;
	opacity: 0;
	z-index: 10;
}
nav div {
	width: 70px;
	height: 27px;
	float: left;
	position: relative;
}
nav div:hover {
	cursor: pointer;
}
nav div img {
	width: 70px;
	height: 27px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
}
nav div img.off {
	z-index: 10;
}
nav div img.on {
	z-index: 5;
}
.content_wrapper {
	opacity: 0;
	z-index: 10;
	height: 100%;
}
.content_wrapper>div {
	position: relative;
	margin: 0 auto;
	height: 100%;
}
.content_wrapper>div:not(#page_archive_work) {
	top: 25px;
	padding: 10px;
}
.numbers {
	float: right;
}
.numbers_wrapper {
	position: absolute;
	right: 0;
	width: 300px;
	z-index: 2;
}
.numbers div,
.numbers div img {
	width: 33px;
	height: 30px;
	display: block;
	cursor: pointer;
}
.numbers div img {
	background-color: #000;
}
.numbers div img.off {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}
.numbers div img.on {
	position: absolute;
	right: 0;
	top: 0;
}
.numbers_wrapper .numbers div:nth-of-type(1) img:nth-of-type(1) {
	display: none;
	opacity: 0;
}
.title_wrapper .titles {
	position: relative;
	text-align: left;
}
.titles img {
	width: 400px;
	height: 30px;
}
.highlight_slides>div {
	height: 100%;
	background-color: #000;
}
.highlight_slides div img {
	width: 100%;
	height: auto;
	max-width: 940px;
	max-height: 529px;
}
div.highlight_slides .slide {
	position: absolute;
	z-index: 5;
	max-width: 940px
}
.highlights_text {
	clear: both;
	cursor: default;
}
.masonry_wrapper {
	width: 100%;
	height: 100%;
	-ms-column-count:4; /* maximum width */
	-ms-column-width: 160px; /* minimum width */
	-ms-column-gap: 5px;
	-moz-column-count:4; /* maximum width */
	-moz-column-width: 160px; /* minimum width */
	-moz-column-gap: 5px;
	-webkit-column-count:4; /* maximum width */
	-webkit-column-width: 160px; /* minimum width */
	-webkit-column-gap: 5px;
	column-count: 4;
	column-width: 160px;
	column-gap: 5px;
}
.masonry_column {
	/* prevent column break */
	display: inline-block;
	width: 100%;
}
.skills {
	display: table;
	width: 100%;
}
.skills_title {
	width: 200px;
	height: 100%;
	display: table-cell;
	vertical-align: top;
	text-transform: uppercase;
}
.skills_column {
	width: 19%;
	display: inline-block;
	vertical-align: top;
}
.skills_column_half {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.blog_list {
	width: 100%;
	border-bottom: 1px solid #333;
}
.blog_title {
	font-weight: 300;
	font-size: 34px;
}
.blog_date_categories_tags {
	font-weight: 300;
	color: #777;
	margin-top: -16px;
}
.blog_content p {
	padding-bottom: 25px;
}
ul {
	padding: 0;
	margin: 0;
}
ul:not(:first-child) {
	margin-top: 26px;
}
.comment {
	width: 300px;
}
select,
input {
	border: 1px solid #ccc;
	width: 300px;
	min-height: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-box-shadow: 0 0 1px #e0f0f5;
	-webkit-box-shadow: 0 0 1px #e0f0f5;
	box-shadow: 0 0 1px #e0f0f5;
}
input[type=submit] {
	padding: 10px;
	text-shadow: 0 1px 0 #ffffff;
	background-color: #bbb;
	border: 1px solid #ccc;
	box-shadow: inset 0 20px 15px rgba(255, 255, 255, .5);
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
}
input[type=submit]:hover {
	background-color: #ddd;
	box-shadow: inset 0 20px 15px rgba(255, 255, 255, 1), 0 0 10px rgba(224, 240, 245, .75);
	cursor: pointer;
	-webkit-transition: 250ms linear 0s;
	-moz-transition: 250ms linear 0s;
	-o-transition: 250ms linear 0s;
	transition: 250ms linear 0s;
}
input[type=submit]:active {
	box-shadow: inset 0 20px 15px rgba(255, 255, 255, 1), 0 0 10px rgba(224, 240, 245, 1);
	background-color: #fff;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
}
.column {
	width: 300px;
	height: 169px;
	padding: 10px;
}
.column img {
	width: 300px;
	height: 169px;
}
.column,
.numbers div {
	position: relative;
	float: left;
}
footer {
	padding-bottom: 5px;
}
/* Mobile browsers only */
@media only screen and (max-device-width: 480px) {
	html {
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}
}
@media print {
	html {
		background-color: #FFFFFF !important;
		color: #000000 !important;
		font-size: 11pt !important;
	}
	.highlight_slides > div {
		background-color: #FFFFFF !important;
	}
	header,
	footer,
	nav {
		display: none;
	}
	.wrapper {
		margin: 0 auto !important;
	}
	.numbers_wrapper,
	.title_wrapper {
		display: none;
	}
}
